<!--En la vista se llama al componente-->
<h1>Hola a Todos. Yo Soy el {{nombreDelComponente}}</h1>
<hr>
<ul>
	<!--<li>{{empleado.nombre}}</li>-->
	<!--<li>{{empleado.edad}}</li>-->
	<li>{{trabajadores[0].nombre}}</li>
	<li>{{trabajadores[0].edad}}</li>
	<li>{{trabajadores[0].puesto}}</li>
	<li>{{trabajadores[0].bono}}</li>
</ul>

<ul>
	<!--<li>{{empleado.nombre}}</li>-->
	<!--<li>{{empleado.edad}}</li>-->
	<li>{{trabajadores[1].nombre}}</li>
	<li>{{trabajadores[1].edad}}</li>
	<li>{{trabajadores[1].puesto}}</li>
	<li>{{trabajadores[1].bono}}</li>
</ul>

<ul>
	<!--<li>{{empleado.nombre}}</li>-->
	<!--<li>{{empleado.edad}}</li>-->
	<li>{{trabajadores[2].nombre}}</li>
	<li>{{trabajadores[2].edad}}</li>
	<li>{{trabajadores[2].puesto}}</li>
	<li>{{trabajadores[2].bono}}</li>
</ul>

<ul>
	<!--<li>{{empleado.nombre}}</li>-->
	<!--<li>{{empleado.edad}}</li>-->
	<li>{{trabajadores[3].nombre}}</li>
	<li>{{trabajadores[3].edad}}</li>
	<li>{{trabajadores[3].puesto}}</li>
	<li>{{trabajadores[3].bono}}</li>
</ul>


<!--<ul>
	<li>{{hobbies[0]}}</li>
	<li>{{hobbies[1]}}</li>
	<li>{{hobbies[2]}}</li>
</ul>

<ul>
	<li>{{cosasFavoritas[0]}}</li>
	<li>{{cosasFavoritas[1]}}</li>
	<li>{{cosasFavoritas[2]}}</li>
</ul>-->
